/* styles.css */


.page-color {   /*styles home and takoyaki pages*/
    background-color: rgba(212, 177, 177, 0.774);
    text-align: center;
    font-size: 16px;
}
.page-color1 {      /*styles ramen page*/
    background-color: rgba(158, 141, 47, 0.678);
    text-align: center;
    font-size: 16px;
}
.page-color2 {      /*styles gyudon pag*/
    background-color: rgba(33, 28, 105, 0.685);
    text-align: center;
    font-size: 16px;
}
#header {       /*styles header-element of both home and takoyaki pages*/
    color: rgba(229, 194, 208, 0.884);
    background-color: rgba(133, 14, 24, 0.712);
    font-size: 56px;
    text-align: center;
    font-family: 'Verdana', 'Candera'
    
}
#headerRamen {       /*styles header-element of both home and takoyaki pages*/
    color: rgba(12, 10, 11, 0.884);
    background-color: rgba(61, 58, 14, 0.384);
    font-size: 56px;
    text-align: center;
    font-family: 'Verdana', 'Candera'
    
}
#headerGyudon {       /*styles header-element of both home and takoyaki pages*/
    color: rgba(163, 158, 161, 0.884);
    background-color: rgba(55, 45, 129, 0.63);
    font-size: 56px;
    text-align: center;
    font-family: 'Verdana', 'Candera'
    
}
#home {     /*aligns home button below header-element*/
    text-align: center
}
h2,
p,
ul,
ol {        /*establishes uniform font style and alignment*/
    text-align: left;
    font-family: 'Verdana', 'Candera'

}
.sub-header {       /*styles all sub-header elements*/
    text-align: left;
    font-family: 'Verdana', 'Candera';
    

}
.cook-time {        /*establishes font and center alignment for cook-time element*/
    text-align: center;
    font-family: 'Verdana', 'Candera'
}
button {        /*styles home page button element*/
    text-align: center;
    color: black;
    font-size: 24px;
    font-family:"Candara", 'Verdana'
}
#takoyaki-picture {     /*takoyaki-picture size*/
    height: auto;
    width: 600px;
}
#animeFood-picture {        /*animeFood-picture size*/
    height: auto;
    width: 600px;
}
